<%-include('../partials/adm/header.ejs')%>
<%-include('../partials/adm/nav.ejs')%>

        <section class="container-fluid" style="margin: top 80px;">

            <!-- =============== Formulário de Atualização dos itens em Promoção================== --> 

            <h1 class="alert text-center" style="background-color:#E0D1FA;"><b>Adicionar Vídeos em Promoções</b></h1>
            <form action="./atualizaPromo" method="GET" class="mt-2 mb-3">
                <div class="form-group text-center">
                    <label for="promo"><b> Adicionar a lista de promoções? </b></label>
                        <input type="radio" value="1" id="promo_sim" name="promo"> Sim /
                        <input type="radio" value="0" id="promo_nao" name="promo"> Não
                    <label for="video">--- <b> Selecione o vídeo: </b></label>
                    <select name="id">
                        <% inicio.forEach((item) => { %>
                        <option value="<%=item.filmes_id%>"><%=item.titulo_fi%></option>
                        <% }) %>
                    </select>
                    <button type="submit" class="btn btn-sm btn-primary">Confirmar</button>
                </div>
            </form>

            <!-- =============== Promoções ================== -->

            <div class="row">
                <!--Inicio da iteração-->
                <% galeria.forEach((item) => { %>
                <div class="col-md-16 col-sm-16 col-lg-3">
                    <div class="card" style="height: 130vh;">
                        <a href="/Produto?id=<%=item.filmes_id%>">
                            <img class="card-img-top" src="data:image/png;base64,<%=item.imagem_fi%>" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title"><%=item.titulo_fi%></h4>
                            <p class="card-text"><%=item.sinopse_fi.substring(0, 200)%>...</p>
                            <div style="position: absolute;bottom:2vh;">
                                <h2>R$ <%=item.valor_fi.toFixed(2).toString().replace(".",",")%></h2>
                                <a href="carrinho/?id=<%=item.filmes_id%>" class="btn btn-primary">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
                <!--Fim do bloco de iteração-->
            </div>            

        </section>
    <script src="../js/singlePreferencia.js"></script>
<%-include('../partials/adm/footer.ejs')%>