<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="imagens/logo.ico"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <title>Promoções</title>
    </head>
    <body>
        <header class="row mx-auto my-auto p-1">
            <div class="col-sm-2 my-auto">
                <img src="../imagens/logovideo.png" class="w-50 mt-4 mb-0">
            </div>  
            <div class="col-sm-8 text-center my-auto">
                <h1 class="font-weight-bold mt-4 mb-0" style="font-size:30px; color:#5A18C9">SEU CONTEÚDO FAVORITO ESTÁ AQUI<BR>QUANDO QUISER E ONDE ESTIVER</h1>
            </div>
            <div class="col-sm-2 my-auto">
            </div>  
        </header>
        <nav class="navbar navbar-light mb-2">
            <hr style="height:1px; width:100%; border-width:0; background-color:#5A18C9">
            <form class="form-inline mx-auto">
                <a class="navbar-brand" href="/Home"><button class="btn btn-outline-dark btn-sm" type="button">Home</button></a>                    
                <a class="navbar-brand" href="/Produtos"><button class="btn btn-outline-dark btn-sm" type="button">Produtos</button></a>
                <a class="navbar-brand"><button class="btn btn-outline-dark btn-sm disabled" disabled>Promoções</button></a>                    
                <a class="navbar-brand" href="/Contato"><button class="btn btn-outline-dark btn-sm" type="button">Contato</button></a>
                <a class="navbar-brand" href="Carrinho"><button class="btn btn-outline-dark btn-sm" type="button">Carrinho</button></a>                    
            </form>
        </nav>         
        <section class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center" style="background-color:#E0D1FA ;"><b>Conheça as Nossas Promoções</b></h1>
                    <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam provident rem neque eos inventore expedita fugit, necessitatibus deleniti voluptatem sint adipisci temporibus corporis ullam ducimus itaque architecto omnis, odio esse voluptatibus perspiciatis. Rem neque temporibus commodi voluptatum sint quas, porro iusto voluptatibus itaque ipsum? Illo repudiandae totam deleniti velit dicta!</p> 
                </div>
            </div>
            <article>

                <div class="row">
                    <!--Inicio da iteração-->
                    <% galeria.forEach((item) => { %>
                    <div class="col-md-16 col-sm-16 col-lg-3">
                        <div class="card">
                            <a href="/Produto?id=<%=item.filmes_id%>">
                                <img class="card-img-top" src="data:image/png;base64,<%=item.imagem_fi%>" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title"><%=item.titulo_fi%></h4>
                                <p class="card-text"><%=item.sinopse_fi%></p>
                                <h2>R$ <%=item.valor_fi%></h2>
                                <a href="carrinho/?id=<%=item.livros_id%>" class="btn btn-primary">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <!--Fim do bloco de iteração-->
                </div>

                <div id="tabelaPromocoes" class="row"></div> <!--Controlado pelo arquivo promocoes.js-->
            </article>
        </section>
        <footer class="bg-dark p-4 text-warning text-center mt-4">
                <p>&copy;2022 - Todos os Direitos Reservados</p>
        </footer>
    </body>
    <script src="../js/promocoes.js"></script>
</html>