<%- include('../partials/usuario/header.ejs') %>
<%- include('../partials/usuario/nav.ejs') %>

        <section class="container-fluid" style="margin: top 80px;">
            <article>
                <h1 class="alert text-center" style="background-color:#E0D1FA ;"><b>Perfil do Usuário</b></h1>

                <form method="post" action="/atualizarDadosUsuario" class="form-group w-50 mx-auto p-3 mt-3 mb-5" style="border:1px solid #ccc; border-radius: 12px;">
                    <fieldset>
                        <legend class="text-center">Dados Pessoais</legend>
                        <label class="mt-2">Nome:</label>
                        <input name="nome" class="form-control" type="text" value="<%=data.nome_us%>" required>
                        <label class="mt-2">Email:</label>
                        <input name="email" class="form-control" type="text" value="<%=data.email_us%>" required>
                        <label class="mt-2">Telefone:</label>
                        <input name="telefone" class="form-control" type="text" value="<%=data.telefone_us%>" required>
                        <label class="mt-3">N° Identificador: <%=data.usuario_id%></label><br>
                        <div class="text-center">
                            <button class="mt-3 btn btn-info" type="submit">Salvar</button>
                        </div>
                    </fieldset>
                </form>
            </article>
        </section>
     
<%- include('../partials/usuario/footer.ejs') %>